@font-face { font-family: Delicious; src: url('font/CalibreRegular.otf'); } 
@font-face { font-family: Delicious; font-weight: bold; src: url('font/CalibreBold.otf');}

:root {
    --font-calibre: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fs-xxs: 12px;
    --fs-xs: 13px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-xxl: 22px;
    --fs-heading: 32px;
}

body, html {
    background-color: #FFFFCC;
    font-family: var(--font-calibre);
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    color: black;
    font-family: var(--font-calibre);
    font-size: var(--fs-xl);
    line-height: 1.3;
}

/* Adds background color to the nav bar */
.topnav {
    background-color: #303030;
    overflow: hidden;
}

.topnav .logo {
    float: left;
    position: relative;
    margin-left: 20px;
}

/* Styles the nav bar links */
.topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
}

/* Changes the color of the nav bar links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}